# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [67]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [68]:
cities = "../WeatherPy/cities.csv"
cities_df = pd.read_csv(cities)
cities_df.dropna(inplace=True)
cities_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Nikolskoye,100,RU,1587697956,80,59.70,30.79,35.60,4.47
1,1,Astoria,40,US,1587697956,76,46.19,-123.83,52.00,5.82
2,2,Debre Tabor,27,ET,1587697956,23,11.85,38.02,56.48,3.24
3,3,Rikitea,24,PF,1587697949,77,-23.12,-134.97,76.01,12.17
4,4,Butaritari,100,KI,1587697956,76,3.07,172.79,83.70,15.52

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [69]:
gmaps.configure(api_key=g_key)

In [75]:
locations = cities_df[['Lat', 'Lng']]
humidity = cities_df['Humidity'].astype(float)

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=50, 
                                 point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [71]:
vacation_df = pd.DataFrame(cities_df, columns = ["City",
                                                 "Country",
                                                 "Lat",
                                                 "Lng",
                                                 "Max Temp", 
                                                 "Wind Speed", 
                                                 "Cloudiness"])

max_temp = (vacation_df["Max Temp"] >= 70) & (vacation_df["Max Temp"] <= 80)     

wind_speed = vacation_df["Wind Speed"] < 10

cloudiness = vacation_df["Cloudiness"] == 0

limited_vacation_df = vacation_df[max_temp & wind_speed & cloudiness]
limited_vacation_df.head(11)

              City Country    Lat     Lng  Max Temp  Wind Speed  Cloudiness
59   Pozo Colorado      PY -23.49  -58.80     70.48        6.04           0
73      Mossamedes      AO -15.20   12.15     74.59        7.14           0
141          Moree      AU -29.47  149.85     77.00        5.82           0
190       Shādegān      IR  30.65   48.66     75.20        4.70           0
200        Mingora      PK  34.78   72.36     70.92        5.66           0
244      Paramonga      PE -10.67  -77.83     71.51        7.20           0
426        Quiindy      PY -25.97  -57.27     70.00        9.33           0
438          Aswān      EG  24.09   32.91     74.37        8.10           0
466         Riyadh      SA  24.69   46.72     71.60        6.29           0
516  Fuerte Olimpo      PY -21.04  -57.87     70.48        5.70           0
519          Rāvar      IR  31.27   56.81     71.13        2.30           0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [72]:
hotel_df = pd.DataFrame(limited_vacation_df)
hotel_df["Hotel Name"] = ""
hotel_df.head(11)

,City,Country,Lat,Lng,Max Temp,Wind Speed,Cloudiness,Hotel Name
59,Pozo Colorado,PY,-23.49,-58.80,70.48,6.04,0,
73,Mossamedes,AO,-15.20,12.15,74.59,7.14,0,
141,Moree,AU,-29.47,149.85,77.00,5.82,0,
190,Shādegān,IR,30.65,48.66,75.20,4.70,0,
200,Mingora,PK,34.78,72.36,70.92,5.66,0,
244,Paramonga,PE,-10.67,-77.83,71.51,7.20,0,
426,Quiindy,PY,-25.97,-57.27,70.00,9.33,0,
438,Aswān,EG,24.09,32.91,74.37,8.10,0,
466,Riyadh,SA,24.69,46.72,71.60,6.29,0,
516,Fuerte Olimpo,PY,-21.04,-57.87,70.48,5.70,0,
519,Rāvar,IR,31.27,56.81,71.13,2.30,0,

In [73]:
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

params = {
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    hotel_names = requests.get(base_url, params=params)
    
    hotel_names = hotel_names.json()

try:
    hotel_df.loc[index, "Hotel Name"] = hotel_names["results"][0]["name"]
    
except (KeyError, IndexError):
    print("None")
    
hotel_df.head(11)

,City,Country,Lat,Lng,Max Temp,Wind Speed,Cloudiness,Hotel Name
59,Pozo Colorado,PY,-23.49,-58.80,70.48,6.04,0,
73,Mossamedes,AO,-15.20,12.15,74.59,7.14,0,
141,Moree,AU,-29.47,149.85,77.00,5.82,0,
190,Shādegān,IR,30.65,48.66,75.20,4.70,0,
200,Mingora,PK,34.78,72.36,70.92,5.66,0,
244,Paramonga,PE,-10.67,-77.83,71.51,7.20,0,
426,Quiindy,PY,-25.97,-57.27,70.00,9.33,0,
438,Aswān,EG,24.09,32.91,74.37,8.10,0,
466,Riyadh,SA,24.69,46.72,71.60,6.29,0,
516,Fuerte Olimpo,PY,-21.04,-57.87,70.48,5.70,0,
519,Rāvar,IR,31.27,56.81,71.13,2.30,0,Hotel sperlous

In [74]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [78]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0,150,0,0.4)',
    stroke_color='rgba(0,0,150,0.4)', scale=2,
    #info_box_content=[(f"Hotel Name: {hotel}" for hotel in hotel_names)]
                      #(f"Country: {country}" for country in hotel_df),
                      #(f"City: {city}" for city in hotel_df)]
)
                      
fig = gmaps.figure()
fig.add_layer(hotel_layer)

fig

# Display Map
fig = gmaps.figure()
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))